/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 700px) {
  /* line 158, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.2/scss/foundation/components/_grid.scss */
  .large-1 {
    position: relative;
    width: 8.33333%;
  }

  /* line 158, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.2/scss/foundation/components/_grid.scss */
  .large-2 {
    position: relative;
    width: 16.66667%;
  }

  /* line 158, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.2/scss/foundation/components/_grid.scss */
  .large-3 {
    position: relative;
    width: 25%;
  }

  /* line 158, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.2/scss/foundation/components/_grid.scss */
  .large-4 {
    position: relative;
    width: 33.33333%;
  }

  /* line 158, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.2/scss/foundation/components/_grid.scss */
  .large-5 {
    position: relative;
    width: 41.66667%;
  }

  /* line 158, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.2/scss/foundation/components/_grid.scss */
  .large-6 {
    position: relative;
    width: 50%;
  }

  /* line 158, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.2/scss/foundation/components/_grid.scss */
  .large-7 {
    position: relative;
    width: 58.33333%;
  }

  /* line 158, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.2/scss/foundation/components/_grid.scss */
  .large-8 {
    position: relative;
    width: 66.66667%;
  }

  /* line 158, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.2/scss/foundation/components/_grid.scss */
  .large-9 {
    position: relative;
    width: 75%;
  }

  /* line 158, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.2/scss/foundation/components/_grid.scss */
  .large-10 {
    position: relative;
    width: 83.33333%;
  }

  /* line 158, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.2/scss/foundation/components/_grid.scss */
  .large-11 {
    position: relative;
    width: 91.66667%;
  }

  /* line 158, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.2/scss/foundation/components/_grid.scss */
  .large-12 {
    position: relative;
    width: 100%;
  }
}