<!DOCTYPE html>
<html>
    <head>
        <title>DockMaster</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/bootstrap.min.css')}}>
        <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/dataTables.bootstrap.min.css')}}>
        {% block head %}
        {% endblock %}
        </head>
<body>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
<script src={{url_for('static', filename='js/jquery-1.12.0.min.js')}}></script>
<script src={{url_for('static', filename='js/bootstrap.js')}}></script>
<script src={{url_for('static', filename='js/jquery.dataTables.min.js')}}></script>
<script  src={{url_for('static', filename='js/dataTables.bootstrap.min.js')}}>
</script>
{% block script %}
{% endblock %}
</html>